__pycache__/
.env
.env.local
env/
med_env/
venv/
*.pyc
.vscode/
.idea/
node_modules/
dist/
build/
coverage/
htmlcov/
*.log
backend/backend_log_*.txt
backend/__pycache__/
Frontend/__pycache__/
backend/demo.html
backend/run_backend.bat
ML/fitbit_2weeks_data.json
ML/toke.txt
